NODE_ID=node_sebas
ROLE_MODE=worker_standby
LEADER_PRIORITY=100
PUBLIC_URL=http://localhost:8000
CLUSTER_NODES=node_sebas,http://localhost:8001,100;node_juanjo,http://localhost:8002,90;node_nico,http://localhost:8003,10
DATA_DIR=./data
INPUT_A_PATH=./data/input/a.fna
INPUT_B_PATH=./data/input/b.fna
LOG_LEVEL=INFO
