NODE_ID=node_sebas
ROLE_MODE=worker_standby
LEADER_PRIORITY=100
PUBLIC_URL=http://192.168.208.96:8001
CLUSTER_NODES=node_sebas,http://192.168.208.96:8001,100;node_juanjo,http://192.168.208.92:8001,90;node_nico,http://192.168.210.44:8001,80;node_jhonny,http://192.168.210.40:8001,70;node_david,https://magnesium-slicer-exhume.ngrok-free.dev,60
DATA_DIR=./data
INPUT_A_PATH=./data/input/a.fna
INPUT_B_PATH=./data/input/b.fna
LOG_LEVEL=INFO
