NODE_ID=node_sebas
ROLE_MODE=worker_standby
LEADER_PRIORITY=100
PUBLIC_URL=http://localhost:8000
CLUSTER_NODES=node_sebas,https://kristy-vertebral-toilfully.ngrok-free.dev,100;node_juanjo,https://ducking-photo-tiny.ngrok-free.dev,90;node_nico,https://graves-angelfish-disclose.ngrok-free.dev,80;node_jhonny,https://item-overrun-glorified.ngrok-free.dev,70;node_david,https://magnesium-slicer-exhume.ngrok-free.dev,60
DATA_DIR=./data
INPUT_A_PATH=./data/input/a.fna
INPUT_B_PATH=./data/input/b.fna
LOG_LEVEL=INFO


# node_juanjo,https://ducking-photo-tiny.ngrok-free.dev,90;